.icon_svg{
    width: 100%;
    max-width: 60px;
}
.icon_svg svg{
    width: 50px;
    height: 50px;
    transition:  all ease-in-out 0.2s;
}
.icon_svg svg path{
    fill: #555555;
}
.detail_text:hover svg{
    width: 55px;
    height: 55px;
}

.social_icon:hover svg{
    animation: move-vertical-hover .25s;
}
@keyframes move-vertical-hover {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-100px)
    }

    50.1% {
        transform: translateY(100px)
    }

    100% {
        transform: translateY(0)
    }
}
